#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.background-image {
  background-image: url("/src/assets/no-cover.png");
  background-position: center center;
  background-size: cover;
  filter: blur(20px);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -2;
}

.dimmer {
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
}

.toggle-btn {
  margin-top: 0.5rem;
  height: 7rem;
  width: 100%;
}

.scroll-lyric {
  margin-left: 2rem;
  overflow: scroll;
  height: 50vh;
  width: 50%;
}

.album-cover {
  height: 50vh;
  width: auto;
}
